.container{
    margin: auto;
    width: 80%;
    background-color:lightpink;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.container-fluid{
    background-color: lightgray;
    font-weight: bold;
}

